<div class="step">
    <div class="row">
        <div class="input-field col s6 m2 l1 offset-l1 xl1 offset-xl2">
            <input id="month" type="text" data-bind="textInput: month, inputField: true" />
            <label for="month" data-bind="i18n: 'steps.arrivals.monthLabel', css: { 'active': month() }"></label>
        </div>
        <div class="input-field col s6 m2 l1 offset-l1 xl2">
            <input id="year" type="text" data-bind="textInput: year, inputField: true" />
            <label for="year" data-bind="i18n: 'steps.arrivals.yearLabel', css: { 'active': year() }"></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 m2 l1 offset-l1 xl1 offset-xl2">
            <input id="day" type="text" data-bind="textInput: day, inputField: true, autoFocus: true, enter: $component.add.bind($component, day)" />
            <label for="day" data-bind="i18n: 'steps.arrivals.dayLabel', css: { 'active': day().length }"></label>
        </div>
    </div>
    <!-- ko foreach: items -->
    <div class="row">
        <div class="input-field col s12 m2 l1 offset-l1 xl1 offset-xl2">
            <input type="text" data-bind="textInput: $data.day, inputField: true, attr: { id: 'day_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.dayLabel', css: { 'active': $data.day().length }, attr: { for: 'day_' + $data.id }"></label>
        </div>
        <div class="input-field col s12 m4 l3 xl3">
            <input type="text" data-bind="textInput: $data.start1, inputField: true, attr: { id: 'start1_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.startLabel', css: { 'active': $data.start1().length }, attr: { for: 'start1_' + $data.id }"></label>
        </div>
        <div class="input-field col s12 m4 l3 xl3">
            <input type="text" data-bind="textInput: $data.end1, inputField: true, attr: { id: 'end1_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.endLabel', css: { 'active': $data.end1().length }, attr: { for: 'end1_' + $data.id }"></label>
        </div>        
        <div class="input-field col s12 m4 l3 xl1">
            <input type="text" data-bind="textInput: $data.len, inputField: true, attr: { id: 'len_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.lenLabel', css: { 'active': $data.len().length }, attr: { for: 'len_' + $data.id }"></label>
        </div>        
        <div class="input-field col s12 m4 l3 xl7 offset-xl3">
            <input type="text" data-bind="textInput: $data.purpose, inputField: true, attr: { id: 'purpose_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.purposeLabel', css: { 'active': $data.purpose().length }, attr: { for: 'purpose_' + $data.id }"></label>
        </div>        
    </div>
    <!-- /ko -->
</ul>