<div class="step">
    <div class="row">
        <div class="input-field col s6 m2 l1 offset-l1 xl1 offset-xl2">
            <input id="day" type="text" data-bind="textInput: day, inputField: true, autoFocus: true, enter: $component.add.bind($component, day)" />
            <label for="day" data-bind="i18n: 'steps.arrivals.dayLabel', css: { 'active': day().length }"></label>
        </div>
    </div>
    <!-- ko foreach: items -->
    <div class="row">
        <div class="input-field col s6 m2 l1 offset-l1 xl1 offset-xl2">
            <input type="text" data-bind="textInput: $data.day, inputField: true, attr: { id: 'day_' + $data.id }" />
            <label data-bind="i18n: 'steps.arrivals.dayLabel', css: { 'active': $data.day().length }, attr: { for: 'day_' + $data.id }"></label>
        </div>        
    </div>
    <!-- /ko -->
</ul>