@import "../../../less/mixins/vars.less";
@import "../../../less/mixins/helpers.less";

.app {
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        background-color: @bg-color;
        border-radius: .3125rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        > .row {
            margin-bottom: 0;
        }
    }
    
    &__header {
        padding: 1.625rem 0 2.25rem 0;
    }

    &__main {
        max-height: calc(90vh - 15rem);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 !important;
    }
}