<div class="app" data-bind="style: { backgroundImage: 'url(' + background() + ')'}">
    <div class="app__container container z-depth-1">
        <div class="row">
            <div class="col s12">
                <div class="app__header">
                    <h1 data-bind="i18n: 'title'"></h1>
                    <h5>This information will let us know more about you</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="pager">
                    <li class="pager__item pager__item--active">
                        <a href="#">krok 1</a>
                    </li>
                    <li class="pager__item">
                        <a href="#">krok 2</a>
                    </li>
                    <li class="pager__item">
                        <a href="#">krok 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Let's start with the basic details.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                lorem ipsum
            </div>
        </div>
        <div class="row footer">
            <div class="col s6">
                <button class="btn btn--secondary">prev</button>
                <button class="btn btn--secondary btn--disabled">prev</button>
            </div>
            <div class="col s6">
                <button class="btn btn--primary">next</button>
                <button class="btn btn--primary btn--disabled">next</button>
            </div>
        </div>        
    </div>
</div>