<div class="app" data-bind="style: { backgroundImage: 'url(' + background() + ')'}">
    <div class="app__container container z-depth-1">
        <div class="row">
            <div class="col s12">
                <div class="app__header">
                    <h1 data-bind="i18n: 'title'"></h1>
                    <h5 data-bind="i18n: title(), visible: title().length"></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <my-wizard params="step: step, steps: steps"></my-wizard> 
            </div>
        </div>
        <div class="row">
            <div class="col s12 app__main">
                <h4 data-bind="i18n: description(), visible: description() != null"></h4>
                lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>
                lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>
                lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum<br>lorem ipsum
            </div>
        </div>
        <div class="row footer">
            <div class="col s6">
                <button class="btn btn--secondary">prev</button>
                <button class="btn btn--secondary btn--disabled">prev</button>
            </div>
            <div class="col s6">
                <button class="btn btn--primary">next</button>
                <button class="btn btn--primary btn--disabled">next</button>
            </div>
        </div>        
    </div>
</div>