<div class="step">
    <div class="row">
        <div class="input-field col s12 m7 l5 offset-l1 xl4 offset-xl2">
            <input id="type" type="text" data-bind="textInput: type, inputField: true" />
            <label for="type" data-bind="i18n: 'steps.car.type', css: { 'active': type().length }"></label>
        </div>
        <div class="input-field col s12 m2 l2 xl2">
            <input id="licensePlate" type="text" data-bind="textInput: licensePlate, inputField: true" />
            <label for="licensePlate" data-bind="i18n: 'steps.car.licensePlate', css: { 'active': licensePlate().length }"></label>
        </div>
        <div class="input-field col s12 m3 l3 xl2">
            <input id="consumption" type="text" data-bind="textInput: consumption, inputField: true" />
            <label for="consumption" data-bind="i18n: 'steps.car.consumption', css: { 'active': consumption().length }"></label>
        </div>
    </div> 
</ul>